<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <title>:: Carteira Clientes :: </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'cadastros/images/favicon.ico' %}"/>
    <link rel='stylesheet' type="text/css" href="{% static 'cadastros/css/cadastros.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar-collapse justify-content-between navbar-expand-lg navbar-dark bg-primary fixed-top " >
      <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'cadastros/images/favicon.ico' %}" width="30" height="30" alt=""></a>
          </li>
        {% if user.is_authenticated %}
          <li class="nav-item {% if url_name == 'lista-cliente' %} active {% endif %}">
            <a class="nav-link" href="{% url 'cadastros:lista-cliente' %}"> Cliente </a>
          </li>
          <li class="nav-item {% if url_name == 'lista-vendedor' %} active {% endif %}">
            <a class="nav-link" href="{% url 'cadastros:lista-vendedor' %}"> Vendedor </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" > Usuário: {{ user.username }} </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">(Sair)</a>
          </li>
        </ul>
        {% else %}
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item {% if active_tab == 'login' %} active {% endif %}">
            <a class="nav-link" href="{% url 'login' %}">Entrar</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% endwith %}

    <div class="container">

    {% block body_block %}
    {% endblock %}
    </div>

  </body>
</html>
