<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>:: Carteira Clientes :: </title>
    <link rel='stylesheet' type="text/css" href="{% static 'cadastros/css/my_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top " >
      <div class="navbar-nav">
        <a class="navbar-brand" href="{% url 'index' %}">Principal</a>
        <a class="nav-item nav-link" href="{% url 'cadastros:clientes' %}">Clientes</a>
        <a class="nav-item nav-link" href="{% url 'cadastros:vendedores' %}">Vendedores</a>
        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
      </div>
    </nav>

    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>

  </body>
</html>
