{% include "cadastros/base.html" with active_tab='clientes' %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
      <h2>Cadastro Clientes </h2>
      <div align="right">
        <button type="button" class="btn btn-success">Adicionar</button>
      </div>
      <div class="tabela">
      {% if lista %}
          <table>
            <thead>
              <th>ID</th>
              <th>CNPJ</th>
              <th>Razão Social</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </thead>

            {% for acc in lista %}
              <tr>
                <td><a href="{{ clientes.get_absolute_url }} {{ acc.id }}">{{ acc.id }}</a> </td>
                <td>{{ acc.cnpj }}</td>
                <td>{{ acc.razao_social }}</td>
                <td>{{ acc.latitude }}</td>
                <td>{{ acc.longitude }}</td>
              </tr>
            {% endfor %}
        </table>

        {% include "cadastros/paginacao.html" %}

      {% else %}
        <p>Não existem registros de clientes.</p>
      {% endif %}




    </div>
  </div>
</div>

{% endblock %}
