{% load crispy_forms_tags %}
{% load static %}

    <div class="container">
      <div class="jumbotron">
        <form action="."  method="POST">
            {% if active_tab == 'cliente' %}
            <h3>Editar cliente</h3>
            {% else %}
            <h3>Editar vendedor</h3>
            {% endif %}
            <br>

            {% csrf_token %}

            <div class="row">
                <div class="col-sm-3">
                    {% if active_tab == 'cliente' %}  {{ form.cnpj|as_crispy_field }} {% endif %}
                    {% if active_tab == 'vendedor' %} {{ form.cpf|as_crispy_field }}  {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    {{ form.razao_social|as_crispy_field }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    {{ form.latitude|as_crispy_field }}
                </div>

                <div class="col-sm-3">
                    {{ form.longitude|as_crispy_field }}
                </div>
            </div>
            <br>

            <div id="googleMap" style="width:100%;height:400px;"></div>

            <script>
                function iniciarMapa() {
                var mapProp= {
                  center:new google.maps.LatLng({{ form.latitude.initial }},{{ form.longitude.initial }}),

                  zoom:5,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
                }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMapa"></script>
            <br>

            <div align="right">
                <input type="submit" class='btn btn-info' value="Editar">
                {% if active_tab == 'cliente' %}
                    <a href="{% url 'cadastros:lista-cliente' %}"> <button type="button" class="btn btn-danger">Cancelar</button></a>
                {% else %}
                    <a href="{% url 'cadastros:lista-vendedor' %}"> <button type="button" class="btn btn-danger">Cancelar</button></a>
                {% endif %}
            </div>
        </form>

      </div>
    </div>

