{% load crispy_forms_tags %}

<body>
    <div class="container">
      <div class="jumbotron">
        <form action="."  method="POST">
            <br>

            <br>
            {% if active_tab == 'cliente' %}
            <h3>Editar cliente</h3>
            {% else %}
            <h3>Editar vendedor</h3>
            {% endif %}
            <br>

            {% csrf_token %}

            <div class="col-sm-3">
                {% if active_tab == 'cliente' %}  {{ form.cnpj|as_crispy_field }} {% endif %}
                {% if active_tab == 'vendedor' %} {{ form.cpf|as_crispy_field }}  {% endif %}
            </div>

            <div class="col-sm-10">
                {{ form.razao_social|as_crispy_field }}
            </div>

            <div class="col-sm-3">
                {{ form.latitude|as_crispy_field }}
            </div>
            <div class="col-sm-3">
                {{ form.longitude|as_crispy_field }}
            </div>

            <br>

            <div align="right">
                <input type="submit" class='btn btn-secondary' value="Editar">
            </div>
        </form>
      </div>
    </div>
  </body>
