{% extends "cadastros/base.html" %}
{% load static %}

{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <img align="left"  width="20%" height="20%"   src="{% static "cadastros/images/cerveja.png" %}" alt="Cerveja!">
    <br>
    <h2 align="center">Distribuição carteira de clientes para novos vendedores</h2>
    <br>
    <h4 align="center">Seja bem-vindo(a)!</h4>
    <br>
    <p>Este sistema tem por objetivo gerenciar distribuir a carteira de clientes para os novos vendedores de acordo com a geolocalização. </p>
    <br>
  </div>
</div>
{% endblock %}
