{% include "cadastros/base.html" with active_tab='vendedor' %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

      <div align="left">
        <a href="{% url 'cadastros:adicionar-vendedor' %}">
            <br><button type="button" class="btn btn-success">Adicionar Vendedor</button><br><br>
        </a>
      </div>

      <div class="tabelas">
      {% if lista %}
          <table>
            <thead>
              <th>ID</th>
              <th>CPF</th>
              <th>Razão Social</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th> </th>
            </thead>

            {% for acc in lista %}
              <tr>
                <td><a href="editar/{{ acc.id }}">{{ acc.id }}</a> </td>
                <td>{{ acc.cpf }}</td>
                <td>{{ acc.razao_social }}</td>
                <td>{{ acc.latitude }}</td>
                <td>{{ acc.longitude }}</td>
                <td>
                    <div align="center">
                        <a href="apagar/{{ acc.id }}"><button type="button" class="btn btn-danger">X</button></a>
                    </div>
                </td>
              </tr>
            {% endfor %}
        </table>

        {% include "cadastros/paginacao.html" %}

      {% else %}
        <p>Não existem registros.</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
