    <div class="pagination justify-content-center">
      <ul class="pagination">
        <li class="page-item disabled">
            <a class="step-links">
                {% if lista.has_previous %}
                    <li class="page-item active">
                        <a class="page-link"  href="?page=1{% if request.GET.q %}&q={{request.GET.q}} {% endif %}" > &laquo; </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link"  href="?page={{ lista.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}} {% endif %}" > &lsaquo; </a>
                    </li>
                {% endif %}

                {% if lista.paginator.num_pages != 1 %}
                    <li class="page-item active">
                        <a class="page-link">{{ lista.number }} / {{lista.paginator.num_pages }}</a>
                    </li>
                {% endif %}

                {% if lista.has_next %}
                    <li class="page-item active">
                        <a class="page-link"  href="?page={{ lista.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}} {% endif %}"> &rsaquo; </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link"  href="?page={{ lista.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}} {% endif %}" > &raquo; </a>
                    </li>
                {% endif %}
            </li>
        </ul>
    </div>
