{% extends "cadastros/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h2>Cadastro Vendedores </h2>

      <div class="tabelas">
      {% if lista %}
          <p>Lista de vendedores cadastrados</p>
          <table>
            <thead>
              <th>ID</th>
              <th>CPF</th>
              <th>Razão Social</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </thead>

            {% for acc in lista %}
              <tr>
                <td><a href="{{ clientes.get_absolute_url }} {{ acc.id }}">{{ acc.id }}</a></td>
                <td>{{ acc.cpf }}</td>
                <td>{{ acc.razao_social }}</td>
                <td>{{ acc.latitude }}</td>
                <td>{{ acc.longitude }}</td>
              </tr>
            {% endfor %}
        </table>

         <div class="pagination">
            <span class="step-links">
                {% if lista.has_previous %}
                    <a href="?page={{ lista.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ lista.number }} de {{ lista.paginator.num_pages }}
                </span>

                {% if lista.has_next %}
                    <a href="?page={{ lista.next_page_number }}">Próximo</a>
                {% endif %}
            </span>
        </div>

      {% else %}
        <p>Não existem registros de vendedores.</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
