h1, h2, h3, h4, p{
  color: #007bff;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 2px solid white;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}


th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007bff;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgba(0,123,255,.25);
}

a:link{
  color: #495057;
}
