table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, td {

  padding: 8px;
}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #007bff;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgba(0,123,255,.25);
}

a:link{
  color: #495057;
}

/* login */

.auth-card {
    margin-bottom: 30px;
}

.change-form-p {
    margin-top: 30px;
    text-align: center;
}

.page-link{
  color: #495057;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}